# PostgreSQL Database Configuration
POSTGRES_DB=np_nilson
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_PORT=5432

# pgAdmin 4 Configuration
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

# Backend Service Configuration
SERVER_PORT=8080
SEED_ADMIN_EMAIL=admin@admin.com
SEED_ADMIN_PASSWORD=admin
SEED_ADMIN_FIRSTNAME=NP
SEED_ADMIN_LASTNAME=Admin
SESSION_EXPIRATION_HOURS=24
